body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  h1{
    text-align: center;
  }

  header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  header h1 {
    font-size: 24px;
    text-align: center;
  }

  main .hero {
    text-align: center;
    padding: 20px;
  }
  
  main .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  main .hero .image-container img {
    width: 100%;
    max-width: 1200px;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .projects .project {
    text-align: center;
  }
  
  .projects .project img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }

  .description {
    text-align: center;
    margin: 40px 20px;
  }
  .newsletter-section {
    background-color: white;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border: 1px dashed #444444;
    }

.newsletter-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.newsletter-section p {
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
}
.input-container input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: white;
  color:black;
}

.input-container input:focus {
  outline: none;
  border-color:blue;
}

.newsletter-section button {
    background-color: blue;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.newsletter-section .skip-button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    color: blue;
}