body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
h1{
  text-align: center;
}
nav h1 {
  font-family: DotGothic16;
  font-size: 42px;
  font-weight: 400;  
  margin: 0;
}
header{
  display: flex;
  margin: 20px 70px 100px 70px;
  box-shadow: black ;
  align-content: center;
  justify-content: center;
}

header nav{
  background-color: rgb(233, 212, 252);
  border-radius: 1rem;
  margin-top: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  max-height: fit-content;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.contain1{
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right:0;
}

.container2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.techbar {
  display: flex;
  justify-content: center;
}

main .hero {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .hero h2 {
  font-size: 120px;
  line-height: 120px;
  letter-spacing: -2%;
  text-align: center;
  font-weight: 400;
  width: 100%;
  max-width: 1344px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

main .hero .image-container img {
  width: 100%;
  max-width: 1390px;
  height: auto;
  border-radius: 1px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.projects .project {
  text-align: center;
}

.projects .project p {
  width: 100%;
  max-width: 416px;
  height: auto;
}

.projects .project img {
  width: 100%;
  max-width: 416px;
  height: auto;
  border-radius: 1px;
}

.description {
  font-family: 'DotGothic16', sans-serif;
  width: 100%;
  max-width: 672px;
  height: auto;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1%;
  margin: 40px 20px;
  color: #000000;
}

.newsletter-section {
  background-color: white;
  color: #ffffff;
  padding: 5rem 1rem;
  text-align: center;
  border: 1px dashed #444444;
}

.newsletter-section h2 {
  font-family: DotGothic16;
  font-size: 1.75rem;
  font-weight: 400;  
  color: #000000;
}

.newsletter-section p {
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}

.input-container input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.input-container input:focus {
  outline: none;
  border-color: blue;
}

.newsletter-section button {
  background-color: blue;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.newsletter-section .skip-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  color: blue;
}

footer {
  padding: 20px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-family: DotGothic16;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
}


button {
  padding: 0.8rem 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

/* Responsive Styles */
@media (max-width:0px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  main .hero h2 {
    font-size: 48px;
    line-height: 52px;
  }

  .description {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {

  nav h1 {
    font-size: 2rem;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .description {
    font-size: 20px;
    line-height: 26px;
  }

  .newsletter-section h2 {
    font-size: 20px;
  }

  .newsletter-section p {
    font-size: 14px;
  }

  .input-container input {
    width: 40px;
    height: 40px;
  }

  .newsletter-section button {
    padding: 8px 16px;
  }
}
a{
  color: black;
  text-decoration: none;
  font-family: Archivo;
  font-size: 1rem;
  font-weight: 400;  
}